/* Resseting HTML Values */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* initial HTML css */

#highScoresAndTiming {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 20px 30px;
}

#main-content {
    margin: 15px auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

li {
    width: 200px;
    background-color: purple;
    padding: 15px 5px;
    font-size: 20px;
    color: white;
    margin: 10px auto;
 

}
#answer {
    margin: 15px auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

#resultsInput, #resultsLabel {
    margin: 15px auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}


.left {
    text-align: left;
    margin: 10px auto;
}

.center{
    text-align: center;
    margin: 10px auto;
}

p {
    padding: 0px 30px;
}

h1 {
    font-size: 40px;
}

#btn, #resultsSubmit  {
    width: 200px;
    background-color: purple;
    padding: 15px 5px;
    font-size: 20px;
    color: white;
    margin: 0px auto;
    text-align: center;


}

/* css for js */