/* Resseting HTML Values */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* initial HTML css */

#highScoresAndTiming {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    padding: 20px 30px;
}

#main-content {
    margin: 15px auto;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}

li {
    width: 200px;
    background-color: purple;
    padding: 15px 5px;
    font-size: 20px;
    color: white;
    margin: 10px auto;
 

}
#answer {
    margin: 15px auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}

h1 {
    font-size: 50px;
}

 #resultsLabel {
    margin: 15px auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 25px;

}

#resultsInput {
    margin: 15px auto;
    padding: 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}


.left {
    text-align: left;
    margin: 10px auto;
}

.center{
    text-align: center;
    margin: 10px auto;
}

p {
    padding: 20px 50px;
    font-size: 25px;
    margin-bottom: 20px;
}

#btn, #btn-clear, #btn-restart {
    width: 200px;
    background-color: purple;
    padding: 15px 5px;
    font-size: 20px;
    color: white;
    margin: 0px auto;
    text-align: center;

}

#resultsSubmit {
    width: 200px;
    background-color: purple;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 70px;
    padding-right: 0px;
    font-size: 20px;
    color: white;
    margin: 0px auto;
    text-align: center;
    display: flex;
}

/* css for js */